body, html {
  height: 100%;
}

*{
  box-sizing: border-box;
}


.bg-image {
  background-image: url("/static/images/design.jpg");
  filter: blur(6px);
  -webkit-filter: blur(6px);

  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.box {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 50%;
  height: 50%;
}
#header {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    font-size: 20px;
    text-align: center;
    color: #fff ;
    font-family: 'Sofia' , cursive;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    left: 8%;
    top: 0%;
    transform: translate(-8%, 2%);
    margin-bottom: 30px;
    width: 100%;
   

}
.smiley{
    position: absolute;
    top: 65%;
    left: 37%;
    width: 110px;
    height: 110px;



}
.danger{
  font-size: 30px;
  color: red;
  font-family: 'Sofia',cursive;
}
.safe{
  color: #03fc1c;
  font-family: 'Sofia',cursive;
}


#button{
    width: 100%;
    position: absolute;
    top: 90%;
    left: 8%;
    transform: translate(-8%, 2%);
}
.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 20px;
    background-color: #0a7ac9;
    cursor: pointer;
    position: absolute;
    top: 90%;
    left: 43%;
    transform: translate(-8%, 8%);
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #2be612;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
.footer{
    background-color: purple;
    color: white;
    width: 100%
    font-size: 20px;
    text-align: center;
    padding: 10px;
}
#styleIcon{
    padding: 8px;
    color : white;
}